*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
}

body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  max-width: 1492px;
  margin: 0 auto;
}

.container {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}

.add-btn {
  width: 56px;
  height: 56px;
  border-radius: 100rem;
  position: fixed;
  background-color: #fff;
  bottom: 28px;
  right: 56px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: all 0.2s linear;
}

.add-btn.active {
  opacity: 1;
  visibility: visible;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
  opacity: 0;
  visibility: hidden;
  z-index: 10000;
  transition: all 0.3s ease;
}
.popup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 26px;
  position: absolute;
  border-radius: 8px;
  padding: 30px 42px;
  background-color: #fff;
  width: 430px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  transition: all 0.3s ease;
}
.popup-title {
  font-size: 22px;
  font-weight: 400;
}
.popup-desc {
  color: #5f6368;
}
.popup-input {
  outline: 1px solid #5f6368;
  border-radius: 3px;
  padding: 3px 8px;
  font-size: 14px;
}
.popup-input:focus {
  outline-color: #1a73e8;
}
.popup-btn-group {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
  font-weight: 600;
}
.popup-cancel {
  border: 1px solid #e3e5e6;
  border-radius: 4px;
  padding: 11px 24px;
  color: #1a73e8;
  background-color: #fff;
  cursor: pointer;
}
.popup-cancel:hover {
  color: #5f6368;
}
.popup-confirm {
  border-radius: 4px;
  padding: 11px 30px;
  background-color: #1a73e8;
  color: #fff;
  cursor: pointer;
}
.popup-confirm:hover {
  background-color: #2b7de9;
}
.popup-no {
  border: 1px solid #e3e5e6;
  border-radius: 4px;
  padding: 11px 14px;
  color: #1a73e8;
  background-color: #fff;
  cursor: pointer;
}
.popup-no:hover {
  color: #5f6368;
}

.open-popup .popup {
  opacity: 1;
  visibility: visible;
}

.open-popup .popup .popup-container {
  transform: translate(-50%, -50%) scale(1);
}

.popup-detail-main {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
  opacity: 0;
  visibility: hidden;
  z-index: 10000;
  transition: all 0.3s ease;
}
.popup-detail-container {
  position: absolute;
  border-radius: 8px;
  padding: 32px 24px;
  background-color: #fff;
  width: 370px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  transition: all 0.3s ease;
}
.popup-detail-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.popup-detail-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100rem;
  font-size: 12px;
  transition: all 0.2s linear;
}
.popup-detail-close:hover {
  cursor: pointer;
  background-color: #e3e5e6;
}
.popup-detail-title {
  font-weight: 400;
  font-size: 20px;
}
.popup-detail-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  font-size: 14px;
}
.popup-detail-item {
  display: flex;
  align-items: center;
  gap: 0;
}
.popup-detail-field {
  font-weight: 500;
  min-width: 120px;
}
.popup-detail-location > i {
  margin-right: 6px;
}

.open-popup .popup-detail-main {
  opacity: 1;
  visibility: visible;
}

.open-popup .popup-detail-main .popup-detail-container {
  transform: translate(-50%, -50%) scale(1);
}

.dropdown {
  position: relative;
}
.dropdown-list {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-38%, 103%);
  background-color: #fff;
  padding: 8px 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  transition: all 0.3s linear;
}
.dropdown-item {
  padding: 10px 30px 10px 20px;
  font-size: 20px;
  white-space: nowrap;
  color: #5f6368;
}
.dropdown-item-text {
  font-size: 15px;
}
.dropdown-item:hover {
  background-color: #f1f3f4;
}
.dropdown-item.active {
  color: #000;
  font-weight: 600;
}
.dropdown:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  position: fixed;
  background-color: #fff;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  font-size: 20px;
  color: #5f6368;
  transition: background-color 0.2s linear;
}
.header-toggle:hover {
  cursor: pointer;
  background-color: #e3e5e6;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 42px;
}
.header-name {
  font-size: 22px;
  color: #5f6368;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  font-size: 20px;
  transition: background-color 0.2s linear;
}
.header-icon:hover {
  cursor: pointer;
  background-color: #e3e5e6;
}
.header-search {
  display: flex;
  align-items: center;
  gap: 16px;
  max-width: 650px;
  width: 100%;
  background-color: #f1f3f4;
  border-radius: 8px;
  height: 48px;
  padding: 0 10px;
}
.header-input {
  width: 80%;
  background-color: transparent;
}
.header-app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  color: #5f6368;
  font-size: 20px;
  transition: background-color 0.2s linear;
}
.header-app:hover {
  cursor: pointer;
  background-color: #e3e5e6;
}
.header-avatar {
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  padding: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
}
.header-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100rem;
  object-fit: cover;
}

.create {
  margin-top: 72px;
  background-color: #f1f3f4;
  padding: 20px 0;
}
.create-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.create-title {
  font-size: 16px;
  font-weight: normal;
}
.create-action {
  display: flex;
  align-items: center;
  gap: 8px;
}
.create-template {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 15px;
  border-right: 2px solid #dee1e9;
  transition: all 0.2s linear;
}
.create-template:hover {
  border-radius: 5px;
  cursor: pointer;
  background-color: #dee1e9;
}
.create-setting {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  font-size: 20px;
  transition: background-color 0.2s linear;
}
.create-setting:hover {
  cursor: pointer;
  background-color: #e3e5e6;
}
.create-main {
  padding-top: 20px;
}
.create-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
.create-item-image {
  border-radius: 5px;
  border: 1px solid #e3e5e6;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: border 0.2s linear;
}
.create-item-image:hover {
  cursor: pointer;
  border-color: #679fff;
}
.create-item-name {
  font-weight: 500;
  font-size: 15px;
  margin-top: 12px;
}
.create-item-desc {
  font-size: 14px;
  font-weight: 300;
  margin-top: 4px;
}

.document {
  padding-bottom: 70px;
  background-color: #fff;
}
.document-container-top {
  background-color: #fff;
}
.document-container-top.active {
  position: fixed;
  z-index: 100;
  top: 72px;
  left: 0;
  right: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.document-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 10px;
}
.document-title {
  font-size: 16px;
  font-weight: normal;
}
.document-option {
  display: flex;
  align-items: center;
  gap: 120px;
}
.document-privacy {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 15px;
  transition: all 0.2s linear;
}
.document-privacy:hover {
  border-radius: 5px;
  cursor: pointer;
  background-color: #dee1e9;
}
.document-setting {
  display: flex;
  align-items: center;
  gap: 12px;
}
.document-setting > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  font-size: 18px;
  transition: background-color 0.2s linear;
}
.document-setting > *:hover {
  cursor: pointer;
  background-color: #e3e5e6;
}
.document-main {
  padding-top: 10px;
}
.document-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.document-item {
  border-radius: 5px;
  border: 1px solid #e3e5e6;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: border 0.2s linear;
}
.document-item:hover {
  border-color: #1a73e8;
  cursor: pointer;
}
.document-item-preview {
  border-radius: 5px 5px 0 0;
  background-image: linear-gradient(#fff, #fafafa);
  padding: 28px 20px 4px;
  font-size: 11px;
  line-height: 1.4;
  height: 200px;
  border-bottom: 1px solid #e3e5e6;
}
.document-item-preview p {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.document-item-info {
  padding: 16px 20px 12px;
  position: relative;
}
.document-item-title {
  padding-bottom: 4px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.document-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.document-item-time {
  font-size: 12px;
  color: #5f6368;
  margin-right: auto;
}
.document-item-icon {
  width: 20px;
  height: 20px;
}
.document-item-icon img {
  width: 100%;
  height: 100%;
}
.document-item-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 100rem;
  transition: background-color 0.2s linear;
}
.document-item-more:hover {
  cursor: pointer;
  background-color: #e3e5e6;
}
.document-dropdown-list {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(50%, -36%);
  background-color: #fff;
  padding: 8px 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  transition: all 0.3s linear;
}
.document-dropdown-item {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 10px 30px 10px 20px;
  font-size: 20px;
  white-space: nowrap;
}
.document-dropdown-item-text {
  font-size: 14px;
}
.document-dropdown-item:hover {
  background-color: #f1f3f4;
}
.document-dropdown:hover .document-dropdown-list {
  opacity: 1;
  visibility: visible;
}
.document-empty-notice {
  display: none;
  text-align: center;
  padding: 36px 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 4px;
}
.document-empty-notice-title {
  font-size: 18px;
  margin-bottom: 16px;
}
.document-empty-notice-desc {
  color: #5f6368;
}
.document-empty-notice.show {
  display: block;
}

.edit {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: #fff;
  padding-bottom: 70px;
  transform: translateX(100%);
  transition: transform 0.25s linear;
}
.edit.active {
  transform: translateX(0);
}
.edit-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  position: relative;
}
.edit-top::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.edit-left {
  display: flex;
  align-items: center;
  gap: 4px;
}
.edit-time {
  margin-top: auto;
  color: #5f6368;
  text-decoration: underline;
  font-size: 15px;
}
.edit-logo {
  width: 56px;
  height: 56px;
  border-radius: 100rem;
  padding: 8px;
  transition: all 0.2s linear;
}
.edit-logo:hover {
  background-color: #e3e5e6;
}
.edit-title {
  font-size: 18px;
  border-radius: 2px;
  padding: 0 12px 0 4px;
  margin-bottom: 4px;
  width: 320px;
}
.edit-title:hover {
  outline: 1px solid rgba(0, 0, 0, 0.2);
}
.edit-title:focus {
  outline: 2px solid #1a73e8;
}
.edit-action {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 17px;
}
.edit-action-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
}
.edit-action-item:hover {
  background-color: #f1f3f4;
}
.edit-action-detail.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.edit-right {
  display: flex;
  align-items: center;
  gap: 28px;
}
.edit-save {
  border-radius: 4px;
  height: 36px;
  background-color: #1a73e8;
  padding: 9px 18px 10px 14px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.edit-save:hover {
  background-color: #2b7de9;
}
.edit-avatar {
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  padding: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
}
.edit-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100rem;
  object-fit: cover;
}
.edit-history {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 100rem;
  font-size: 20px;
  transition: background-color 0.2s linear;
}
.edit-history:hover {
  cursor: pointer;
  background-color: #e3e5e6;
}

/*# sourceMappingURL=app.css.map */
