.create {
    margin-top: 72px;
    background-color: $gray-light;
    padding: 20px 0;
    padding-top: 10px;
    &-top {
        @include flex-align-center-between;
    }
    &-title {
        font-size: 16px;
        font-weight: normal;
    }
    &-action {
        @include flex-align-center(8px);
    }
    &-template {
        @include flex-align-center(12px);
        padding: 10px 15px;
        border-right: 2px solid #dee1e9;
        transition: all 0.2s linear;
        &:hover {
            border-radius: 5px;
            cursor: pointer;
            background-color: #dee1e9;
        }
    }
    &-setting {
        @include flex-center;
        @include circle(40px);
        font-size: 20px;
        transition: background-color 0.2s linear;
        &:hover {
            cursor: pointer;
            background-color: $gray-blur;
        }
    }
    &-main {
        padding-top: 10px;
    }
    &-list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
        grid-auto-columns: 148px;
        grid-auto-flow: column;
        overflow: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        touch-action: manipulation;
        -webkit-overflow-scrolling: touch;
        grid-template-columns: unset;
        scroll-padding: 20px;
        padding: 0 20px;
        margin: 0 -20px;
    }
    &-list::-webkit-scrollbar {
        display: none;
        width: 0;
    }
    &-item {
        scroll-snap-align: start;
        &-image {
            border-radius: 5px;
            border: 1px solid $gray-blur;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            transition: border 0.2s linear;
            &:hover {
                cursor: pointer;
                border-color: $blue-light;
            }
        }
        &-name {
            font-weight: 500;
            font-size: 15px;
            margin-top: 12px;
        }
        &-desc {
            font-size: 14px;
            font-weight: 300;
            margin-top: 4px;
        }
    }
    @media screen and (max-width: 575px) {
        padding-bottom: 10px;
        &-template {
            display: none;
        }
        &-title {
            font-size: 15px;
        }
        &-list {
            grid-auto-columns: 120px;
        }
    }
}
