body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1;
}

body::-webkit-scrollbar {
    display: none;
}

.wrapper {
    max-width: 1492px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    max-width: 1060px;
    padding: 0 20px;
    margin: 0 auto;
}

.add-btn {
    @include circle(56px);
    position: fixed;
    z-index: 10000;
    background-color: #fff;
    bottom: 28px;
    right: 56px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: all 0.2s linear;
}
.add-btn.active {
    opacity: 1;
    visibility: visible;
}

.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);
    opacity: 0;
    visibility: hidden;
    z-index: 10000;
    transition: all 0.3s ease;
    &-container {
        @include flex-column-justify-center(26px);
        position: absolute;
        border-radius: 8px;
        padding: 30px 42px;
        background-color: #fff;
        width: 430px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.2);
        transition: all 0.3s ease;
    }
    &-title {
        font-size: 22px;
        font-weight: 400;
    }
    &-desc {
        color: $gray;
    }
    &-input {
        outline: 1px solid $gray;
        border-radius: 3px;
        padding: 3px 8px;
        font-size: 14px;
        &:focus {
            outline-color: $blue;
        }
    }
    &-btn-group {
        margin-left: auto;
        @include flex-align-center(15px);
        font-size: 14px;
        font-weight: 600;
    }
    &-cancel {
        border: 1px solid $gray-blur;
        border-radius: 4px;
        padding: 11px 24px;
        color: $blue;
        background-color: #fff;
        cursor: pointer;
        &:hover {
            color: $gray;
        }
    }
    &-confirm {
        border-radius: 4px;
        padding: 11px 30px;
        background-color: $blue;
        color: #fff;
        cursor: pointer;
        &:hover {
            background-color: #2b7de9;
        }
    }
    &-no {
        border: 1px solid $gray-blur;
        border-radius: 4px;
        padding: 11px 14px;
        color: $blue;
        background-color: #fff;
        cursor: pointer;
        &:hover {
            color: $gray;
        }
    }
}
.open-popup .popup {
    opacity: 1;
    visibility: visible;
}
.open-popup .popup .popup-container {
    transform: translate(-50%, -50%) scale(1);
}

.popup-detail {
    &-main {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.55);
        opacity: 0;
        visibility: hidden;
        z-index: 10000;
        transition: all 0.3s ease;
    }
    &-container {
        position: absolute;
        border-radius: 8px;
        padding: 32px 24px;
        background-color: #fff;
        width: 370px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.2);
        transition: all 0.3s ease;
    }
    &-top {
        @include flex-align-center-between;
        margin-bottom: 24px;
    }
    &-close {
        @include flex-center;
        @include circle(30px);
        font-size: 12px;
        transition: all 0.2s linear;
        &:hover {
            cursor: pointer;
            background-color: $gray-blur;
        }
    }
    &-title {
        font-weight: 400;
        font-size: 20px;
    }
    &-list {
        @include flex-column-justify-center(24px);
        font-size: 14px;
    }
    &-item {
        @include flex-align-center(0);
    }
    &-field {
        font-weight: 500;
        min-width: 120px;
    }
    &-location > i {
        margin-right: 6px;
    }
}

.open-popup .popup-detail-main {
    opacity: 1;
    visibility: visible;
}
.open-popup .popup-detail-main .popup-detail-container {
    transform: translate(-50%, -50%) scale(1);
}

.dropdown {
    position: relative;
    &-list {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translate(-38%, 103%);
        background-color: #fff;
        padding: 8px 0;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
        opacity: 0;
        visibility: hidden;
        z-index: 10;
        transition: all 0.3s linear;
    }
    &-item {
        padding: 10px 30px 10px 20px;
        font-size: 20px;
        white-space: nowrap;
        color: $gray;
        &-text {
            font-size: 15px;
        }
        &:hover {
            background-color: $gray-light;
        }
    }
    &-item.active {
        color: #000;
        font-weight: 600;
    }
    &:hover &-list {
        opacity: 1;
        visibility: visible;
    }
}

