body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}