.header {
    @include flex-align-center(140px);
    padding: 12px 20px;
    position: fixed;
    background-color: #fff;
    z-index: 10000;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    &-toggle {
        @include circle(45px);
        display: none;
        font-size: 25px;
        color: $gray;
        transition: background-color 0.2s linear;
        &:hover {
            cursor: pointer;
            background-color: $gray-blur;
        }
    }
    &-menu {
        flex: 2;
        @include flex-align-center-between;
    }
    &-logo {
        @include flex-align-center(8px);
        height: 48px;
        width: 114px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-icon {
        @include flex-center;
        @include circle(40px);
        font-size: 20px;
        transition: background-color 0.2s linear;
        &:hover {
            cursor: pointer;
            background-color: $gray-blur;
        }
    }
    &-search {
        @include flex-align-center(16px);
        width: 600px;
        background-color: $gray-light;
        border-radius: 100rem;
        height: 48px;
        padding: 0 10px;
    }
    &-input {
        width: 80%;
        background-color: transparent;
    }
    &-avatar {
        @include circle(48px);
        padding: 3px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 12px;
        cursor: pointer;
        img {
            @include circle(100%);
            object-fit: cover;
        }
    }
    @media screen and (min-width: 1240px) {
        gap: 0;
        &-container-logo {
            flex: 0.8;
        }
    }
    @media screen and (max-width: 1023px) {
        gap: 70px;
        &-search {
            max-width: 460px;
        }
    }
    @media screen and (max-width: 767px) {
        @include flex-align-center-between;
        &-toggle {
            @include flex-center;
        }
        &-search {
            gap: 8px;
            width: 100%;
        }
        &-avatar {
            @include circle(66px);
        }
        &-menu {
            display: flex;
            flex-direction: column-reverse;
            gap: 20px;
            justify-content: start;
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            width: 75%;
            max-width: 450px;
            background-color: #fff;
            border-left: 1px solid $gray-blur;
            padding: 12px 20px;
            z-index: 1000000;
            transition: transform 0.25s linear;
            transform: translateX(100%);
        }
        &-menu.active {
            transform: translateX(0);
        }
    }
}
