.header {
    @include flex-align-center-between;
    padding: 12px;
    &-left {
        @include flex-align-center(24px);
    }
    &-toggle {
        @include flex-center;
        @include circle(40px);
        font-size: 20px;
        transition: background-color 0.2s linear;
        &:hover {
            cursor: pointer;
            background-color: $gray-blur;
        }
    }
    &-logo {
        @include flex-align-center(8px);
    }
    &-name {
        font-size: 22px;
        color: $gray;
    }
    &-right {
        @include flex-align-center(32px);
    }
    &-icon {
        @include flex-center;
        @include circle(40px);
        font-size: 20px;
        transition: background-color 0.2s linear;
        &:hover {
            cursor: pointer;
            background-color: $gray-blur;
        }
    }
    &-search {
        @include flex-align-center(16px);
        max-width: 680px;
        width: 100%;
        background-color: $gray-light;
        border-radius: 8px;
        height: 48px;
        padding: 0 10px;
    }
    &-input {
        width: 80%;
        background-color: transparent;
    }
    &-app {
        @include flex-center;
        @include circle(40px);
        font-size: 20px;
        transition: background-color 0.2s linear;
        &:hover {
            cursor: pointer;
            background-color: $gray-blur;
        }
    }
    &-avatar {
        @include circle(40px);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        &:hover {
            cursor: pointer;
        }
        img {
            @include circle(100%);
            object-fit: cover;
        }
    }
}
