@mixin circle($radius: 0) {
    width: $radius;
    height: $radius;
    border-radius: 100rem;
}

@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-align-center($gap: 0) {
    display: flex;
    align-items: center;
    gap: $gap;
}

@mixin flex-align-center-between() {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-column-justify-center($gap: 0) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $gap;
}


