.create {
    background-color: $gray-light;
    &-top {
        @include flex-align-center-between;
    }
    &-title {
        font-size: 16px;
        font-weight: normal;
    }
    &-action {
        @include flex-align-center(8px);
    }
    &-template {
        @include flex-align-center(12px);
        padding: 10px 15px;
        border-right: 2px solid #dee1e9;
        transition: all 0.2s linear;
        &:hover {
            border-radius: 5px;
            cursor: pointer;
            background-color: #dee1e9;
        }
    }
    &-setting {
        @include flex-center;
        @include circle(40px);
        font-size: 20px;
        transition: background-color 0.2s linear;
        &:hover {
            cursor: pointer;
            background-color: $gray-blur;
        }
    }
    &-main {
        padding-top: 20px;
    }
    &-list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
    }
    &-item {
        &-image {
            border-radius: 5px;
            border: 1px solid $gray-blur;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            transition: border 0.2s linear;
            &:hover {
                cursor: pointer;
                border-color: $blue-light;
            }
        }
        &-name {
            font-weight: 500;
            font-size: 15px;
            margin-top: 12px;
        }
        &-desc {
            font-size: 14px;
            font-weight: 300;
            margin-top: 4px;
        }
    }
}
