include ./views/mixins
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Google Docs
        link(rel="shortcut icon" href="./images/logo.ico")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="./fonts/themify-icons/themify-icons.css")
        link(rel="stylesheet", href="./css/app.css")
        script(src="https://cdn.tiny.cloud/1/8q32i5i1oyxnqq3otqhgc9213fcq32ie12geonhjeyyvte7t/tinymce/5/tinymce.min.js" referrerpolicy="origin")
    body 
        .wrapper 
            .add-btn 
                img(src="./images/plus.png", alt="")
            .popup-rename
                +popup('Rename','Please enter a new name for the item:','Cancel','OK', true, false)
            include ./views/header
            include ./views/create
            include ./views/document
            include ./views/edit
            .popup-remove 
                +popup('Remove','Are you sure you want to delete this doc?','Cancel','Delete', false, false)

        script(src="./js/tinymce.js") 
        script(src="./lib/moment/moment.min.js") 
        script(src="./js/app.js") 