section.create
    .container
        .create-top 
            h2.create-title Start a new document
            .create-action
                .create-template
                    span Template gallery
                    i.ti-split-v
                .create-setting 
                    i.ti-settings
        .create-main 
            ul.create-list 
                li.create-item 
                    img.create-item-image(src="./images/blank.png", alt="")
                    h4.create-item-name Blank
                li.create-item 
                    img.create-item-image(src="./images/resume1.png", alt="")
                    h4.create-item-name Resume
                    p.create-item-desc Swiss
                li.create-item 
                    img.create-item-image(src="./images/letter.png", alt="")
                    h4.create-item-name Letter 
                    p.create-item-desc Spearmint
                li.create-item 
                    img.create-item-image(src="./images/resume1.png", alt="")
                    h4.create-item-name Resume
                    p.create-item-desc Swiss
                li.create-item 
                    img.create-item-image(src="./images/letter.png", alt="")
                    h4.create-item-name Letter 
                    p.create-item-desc Spearmint
                li.create-item 
                    img.create-item-image(src="./images/resume1.png", alt="")
                    h4.create-item-name Resume
                    p.create-item-desc Swiss
                li.create-item 
                    img.create-item-image(src="./images/letter.png", alt="")
                    h4.create-item-name Letter 
                    p.create-item-desc Spearmint
                li.create-item 
                    img.create-item-image(src="./images/resume1.png", alt="")
                    h4.create-item-name Resume
                    p.create-item-desc Swiss
                

