section.create
    .container
        .create-top 
            h2.create-title Bắt đầu một tài liệu mới
            .create-action
                .create-template
                    span Thư viện mẫu
                    i.ti-split-v
                .create-setting 
                    i.ti-settings
        .create-main 


