section.document
    .document-container-top 
        .container
            .document-top 
                h2.document-title Recent documents
                .document-option
                    .document-privacy
                        span Owned by me
                        i.ti-angle-down
                    .document-setting 
                        span.document-view
                            i.ti-view-list-alt
                        span.document-sort
                            i.ti-layout-list-thumb
                        span.document-folder
                            i.ti-folder
    .container
        .document-main 
            ul.document-list