section.edit 
    .edit-top 
        .edit-left 
            a.edit-logo(href="#!")  
                img(src="./images/logo.png", alt="")
            .edit-info 
                input.edit-title(type="text", placeholder="Untitled document")
                .edit-action 
                    span.edit-action-item 
                        i.ti-star
                    span.edit-action-item.edit-action-detail 
                        i.ti-info-alt
            p.edit-time
        .edit-right 
            span.edit-history
                i.ti-comment-alt
            .edit-save 
                i.ti-save
                span Save
            .edit-avatar 
                img(src="https://i.pinimg.com/564x/d5/b0/4c/d5b04cc3dcd8c17702549ebc5f1acf1a.jpg", alt="")
    .edit-main 
        .container 
            textarea.edit-content#content
    .popup-save 
        +popup('Save','Do you want to save this document?','Cancel','OK', false, true)
    .popup-detail
        .popup-detail-main 
            .popup-detail-container 
                .popup-detail-top 
                    h3.popup-detail-title Document details
                    span.popup-detail-close     
                        i.ti-close
                ul.popup-detail-list 
                    li.popup-detail-item  
                        p.popup-detail-field Location 
                        p.popup-detail-location
                            i.ti-folder 
                            span My Driver
                    li.popup-detail-item
                        p.popup-detail-field Owner 
                        p me 
                    li.popup-detail-item  
                        p.popup-detail-field Modified
                        p.popup-detail-edit-time 11:04 AM by me
                    li.popup-detail-item  
                        p.popup-detail-field Created
                        p.popup-detail-create-time 11:04 AM

                
