section.edit 
    .edit-top 
        .edit-left 
            a.edit-logo(href="#!")  
                img(src="./images/logo.png", alt="")
            .edit-info 
                input.edit-title(type="text", placeholder="Untitled document")
                .edit-action 
                    span.edit-action-item 
                        i.ti-star
                    span.edit-action-item 
                        i.ti-cloud-down
                    span.edit-action-item 
                        i.ti-info-alt
            p.edit-time
        .edit-right 
            span.edit-history
                i.ti-comment-alt
            .edit-save 
                i.ti-save
                span Save
            .edit-avatar 
                img(src="https://i.pinimg.com/564x/d5/b0/4c/d5b04cc3dcd8c17702549ebc5f1acf1a.jpg", alt="")
    .edit-main 
        .container 
            textarea.edit-content#content
    .popup-save 
        +popup('Save','Do you want to save this document?','Cancel','OK', false, true)
