.header
    .header-container-logo
        a.header-logo(href="#") 
            img(src="./images/logo.png", alt="")
    .header-menu 
        .header-search 
            span.header-icon 
                i.ti-search
            input.header-input(type="text", placeholder="Search")
        .header-avatar 
            img(src="https://i.pinimg.com/564x/78/8b/f4/788bf4a85b153a50f986792a0d63e7a6.jpg", alt="")
    .header-toggle 
            i.ti-menu