.header
    .header-left
        .header-toggle 
            i.ti-menu
        a.header-logo(href="#!") 
            img(src="./images/logo.png", alt="")
            span.header-name Tài liệu
    .header-search 
        span.header-icon 
            i.ti-search
        input.header-input(type="text", placeholder="Tìm kiếm")
    .header-right
        .header-app 
            i.ti-layout-grid3
        .header-avatar 
            img(src="https://i.pinimg.com/564x/d5/b0/4c/d5b04cc3dcd8c17702549ebc5f1acf1a.jpg", alt="")