mixin documentItem(desc, title, time) 
    li.document-item
        .document-item-preview 
            p= desc
        .document-item-info 
            p.document-item-title= title
            .document-item-bottom
                .document-item-icon
                    img(src="./images/docs_icon.png", alt="")
                p.document-item-time= time
                .document-dropdown
                    span.document-item-more
                        i.ti-more
                    ul.document-dropdown-list
                        li.document-dropdown-item
                            i.ti-smallcap
                            span Rename
                        li.document-dropdown-item
                            i.ti-trash
                            span Remove
                        li.document-dropdown-item
                            i.ti-new-window
                            span Open in new tab